body {
    background-color: #b0ebcd;
    color: #000000;
}
h1 {
    color: #e0c0c0;
    background-color: #acc151;
    color: #000000;
     background-color: #d1d2d1;
    color: #000000;
    
}
.footer {
    height: 50px;
    background-color: #c9dea4;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}